a { display: block; }

.card {
	background-color: var(--surface-variant);
	border-radius: 12px;
	overflow: hidden;
}

.text {
	color: var(--on-surface-variant);
	display: flex;
	flex-direction: column;
}

.text > * {
	padding: 16px;
}