.card {
	background-color: var(--surface-variant);
	color: var(--on-surface-variant);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	border-radius: 13px;
	padding: 15px 0;
}

.large {
	width: 240px;
	height: 240px;
}

.small {
	width: 150px;
	height: 150px;
}

.titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
