.card {
	background-color: var(--surface-variant);
	color: var(--on-surface-variant);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	border-radius: 13px;
	aspect-ratio: 1 / 1;
	padding: 15px 0;
}

.titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
