.base {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 120px 1fr;
	background-color: var(--background);
}

@media (max-width: 800px) {
	.base {
		grid-template-columns: 100px 1fr;
	}
}

.main {
	display: flex;
	justify-content: center;
	padding: 70px max(calc((100vw - 1075px) / 2), 40px);
	overflow-y: auto;
}